version: '3'
services:
  app:
    build: .
    container_name: template_app_container
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    volumes:
      - ./:/app
    command: ["npm", "start"]
